<div id="loginContainter" class="container-fluid" >
    <div id="loginFormContainer" class="container-fluid">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input ng-model="cred.username" type="text" id="userName" 
                   class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="cred.password" type="password" id="inputPassword" 
                   class="form-control" placeholder="Password" required>
            <label for="inputEnvID" class="sr-only">EnvID</label>
            <input ng-model="cred.envid" type="text" id="inputEnvID" 
                   class="form-control" placeholder="Environment ID">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Sign in</button>
        </form>
        <div id="loginError" class="container-fluid" style="color: red">
            <center>{{loginError}}</center>
        </div>
    </div>
</div>